Source: plexhometheater
Section: video
Priority: optional
Maintainer: Norbert Preining <preining@debian.org>
Build-Depends: libiso9660-dev, libcdio-dev, libmodplug-dev, yasm, libvdpau-dev, libva-dev, libshairport-dev, libplist-dev, librtmp-dev, libass-dev, libmpeg2-4-dev, libcurl4-openssl-dev, libflac++-dev, libglew-dev, libtinyxml-dev, libmicrohttpd-dev, libyajl-dev, libsamplerate0-dev, libfribidi-dev, liblzo2-dev, libsdl-mixer1.2-dev, libsdl-image1.2-dev, libsdl1.2-dev, libusb-dev, libudev-dev, ninja-build, debhelper, cmake, libsqlite3-dev, libssl-dev, libxrandr-dev, libavutil-dev, libboost-thread-dev, libboost-system-dev, libmp3lame-dev, libcec-dev (>= 2.2.0)
Standards-Version: 3.9.6
Homepage: http://plex.tv/

Package: plexhometheater
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plex client
 Home Theater client for the Plex server.
